.font-eb-garamond{
    font-family: "EB Garamond", serif;
}

.font-poppins{
    font-family: "Poppins", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}