.font-eb-garamond{
    font-family: "EB Garamond", serif;
}

.font-poppins{
    font-family: "Poppins", sans-serif;
}

:root{
    --text-dark-02: #414040;
    --text-dark-03: #707070;
    --text-dark-06: #E7E7E7;
    --bg-dark-07: #F3F3F3;
    --bg-btn: #B68C5A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* shared styles  */
.container{
    padding: 60px 7%;
    margin: 0 auto;
}

.btn-primary{
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: var(--bg-btn);
    outline: none;
    border: 1px solid var(--bg-btn);
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-primary:hover{
    color: var(--bg-btn);
    background-color: var(--bg-dark-07);
}

.section-header{
    text-align: center;
}

.section-title{
    font-family: "EB Garamond", serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-dark-02);
}

.section-details{
    color: var(--text-dark-03);
    margin: 24px 0;
}

.section-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* nav bar section styles  */
#navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

#menu-bar{
    font-size: 2.5rem;
    margin-right: 20px;
    color: var(--text-dark-02);
    cursor: pointer;
    display: none;
}

.nav-container{
    display: flex;
    gap: 20px;
}

.nav-container .nav-items .nav-links{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-dark-03);
    transition: all 0.5s ease;
}

/* banner section styles  */
#banner{
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}

.banner-content{
    padding: 100px 240px;
    background-image: url(./images/banner.png);   
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.banner-title{
    font-size: clamp(1rem, 7vw + 1rem, 3.7rem);
    font-family: "EB Garamond", serif;
    color: #FFFFFF;
    font-weight: 900;
}

.banner-title span{
    color: var(--bg-btn);
}

.search-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}

input[type="text"]{
    padding: 0 30px;
    border-radius: 8px;
    flex-basis: 75%;
    color: var(--text-dark-03);
    border: none;
    outline: none;
}

input[type="text"]::placeholder{
    color: var(--text-dark-03);
}

/* Legal Practice area section styles  */
.services-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.services-card{
    padding: 40px;
    text-align: center;
    border: 1px solid var(--text-dark-06);
    border-radius: 8px;
    box-shadow: 5px 5px 0 0 var(--text-dark-06);
}

.card-title{
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark-02);
}

.service-card-icon{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: var(--bg-btn);
    border-radius: 50%;
}

.card-img{
    margin-bottom: 20px;
}

/* Client review section styles  */
.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px;
    background-image: url(/images/slider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.slide-icon{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.client{
    padding: 0 50px;
    text-align: center;
}

.client-name{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "EB Garamond", serif;
    color: #FFFFFF;
}

.client-position{
    color: #FFFFFF;
}

.client .section-details{
    color: var(--text-dark-06);
}

/* faq section styles  */
.faq-card-container{
    width: 100%;
    margin: auto 0;
}

.faq-card{
    background-color: #F3F3F3;
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
}

.card-title{
    font-family: "EB Garamond", serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 20px;
    color: var(--text-dark-02);
}

.faq-card-details{
    display: none;
    color: var(--text-dark-03);
    margin-top: 20px;
}

.faq-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-card .fa-plus{
    cursor: pointer;
}

.faq-card .fa-minus{
    display: none;
    cursor: pointer;
}

/* contact section styles  */
.contact-card-container{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.contact-card{
    text-align: center;
    padding: 50px;
    background-color: #F3F3F3;
    border-radius: 8px;
}

.contact-form{
    flex-basis: 50%;
}

.contact-form input{
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    color: var(--text-dark-03);
    background-color: #F3F3F3;
    border-radius: 8px;
}

.contact-form textarea{
    resize: none;
    width: 100%;
    background-color: #F3F3F3;
    color: var(--text-dark-03);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.contact-form .btn-primary{
    width: 100%;
}

/* responsive styles for medium/tablet devices */
@media screen and (max-width: 992px){
    .container{
        padding: 50px 5%;
    }
    #menu-bar{
        display: inline-block;
    }
    .nav-container{
        display: inline-block;
        width: 90%;
        height: 90dvh;
        padding: 40px 20px;
        position: absolute;
        top: 70px;
        background-color: #FFFFFF;
    }
    .hidden{
        display: none;
    }
    .nav-container .nav-items{
        padding: 20px 0;
        border-bottom: 1px solid var(--text-dark-03);
    }
    .banner-content{
        padding: 40px 80px;
        border-radius: 8px;
        background-size: cover;
    }

    .services-card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .slider{
        gap: 20px;
        padding: 20px;
    }

    .section-content{
        flex-direction: column;
        align-items: center;
    }
    .faq-card-container{
        order: 2;
    }

    .faq-img{
        order: 1;
    }

    .contact-card-container{
        grid-template-columns: 1fr;
    }
}

/* Responsive styles for small/mobile devices */
@media screen and (max-width: 576px){
    .section-title{
        font-size: 1.5rem;
    }
    .banner-content{
        padding: 20px;
    }

    .services-card-container{
        grid-template-columns: 1fr;
        margin: 0 70px;
    }
    .card-title{
        font-size: 1.25rem;
    }

    .faq-card-title{
        font-size: 1.15rem;
        font-weight: 500;
    }
}

/* Responsive styles for smaller devices */
@media screen and (max-width: 360px){
    #navbar{
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
    }
    #navbar .btn-primary{
        align-self: center;
    }
    #menu-bar{
        font-size: 2rem;
    }
    .search-box{
        flex-direction: column;
    }
    #search{
        padding: 12px;
    }

    .services-card-container{
        margin: 0 10px;
    }

    .slider{
        gap: 10px;
        padding: 20px 10px;
    }
    .client{
        padding: 0;
    }

    .faq-img img{
        width: 100%;
    }
}