.font-eb-garamond{
    font-family: "EB Garamond", serif;
}

.font-poppins{
    font-family: "Poppins", sans-serif;
}

:root{
    --text-dark-02: #414040;
    --text-dark-03: #707070;
    --text-dark-06: #E7E7E7;
    --bg-dark-07: #F3F3F3;
    --bg-btn: #B68C5A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* shared styles  */
.container{
    padding: 120px 7%;
    margin: 0 auto;
}

.btn-primary{
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--bg-btn);
    outline: none;
    border: 1px solid var(--bg-btn);
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-primary:hover{
    color: var(--bg-btn);
    background-color: var(--bg-dark-07);
}

.section-details{
    font-size: clamp(0.7rem, 1vw + .1rem, 1rem);
    color: var(--text-dark-03);
    margin: 24px 0;
}

/* nav bar section styles  */
#navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

#menu-bar{
    font-size: 2.5rem;
    margin-right: 20px;
    color: var(--text-dark-02);
    cursor: pointer;
    display: none;
}

.nav-container{
    display: flex;
    gap: 20px;
}

.nav-container .nav-items .nav-links{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-dark-03);
    transition: all 0.5s ease;
}

/* banner section styles  */
#banner{
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}

.banner-content{
    padding: 100px 240px;
    background-image: url(./images/banner.png);   
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.banner-title{
    font-size: clamp(1rem, 7vw + 1rem, 3.7rem);
    font-family: "EB Garamond", serif;
    color: #FFFFFF;
    font-weight: 900;
}

.banner-title span{
    color: var(--bg-btn);
}

.banner-details{
    color: var(--text-dark-06);
    margin: 24px 0;
}

.search-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}

input[type="text"]{
    padding: 0 30px;
    border-radius: 8px;
    flex-basis: 75%;
    color: var(--text-dark-03);
    border: none;
    outline: none;
}

input[type="text"]::placeholder{
    color: var(--text-dark-03);
}

/* responsive styles for medium/tablet devices */
@media screen and (max-width: 992px){
    .container{
        padding: 50px 5%;
    }
    #menu-bar{
        display: inline-block;
    }
    .nav-container{
        display: inline-block;
        width: 90%;
        height: 90dvh;
        padding: 40px 20px;
        position: absolute;
        top: 70px;
        background-color: #FFFFFF;
    }
    .hidden{
        display: none;
    }
    .nav-container .nav-items{
        padding: 20px 0;
        border-bottom: 1px solid var(--text-dark-03);
    }
    .banner-content{
        padding: 40px 80px;
        border-radius: 8px;
        background-size: cover;
    }
}

/* Responsive styles for small/mobile devices */
@media screen and (max-width: 576px){
    .banner-content{
        padding: 20px;
    }
}

/* Responsive styles for smaller devices */
@media screen and (max-width: 360px){
    #navbar{
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
    }
    #navbar .btn-primary{
        align-self: center;
    }
    #menu-bar{
        font-size: 2rem;
    }
    .search-box{
        flex-direction: column;
    }
    #search{
        padding: 12px;
    }
}